body { background-color: #lilac; }
/* Add a white background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
};
  font-size: 17px;
}
<!doctype html>
<html>
    <head>

       
